# ESP-IDF specific
build/
main/api.h
# main/config.h - Now tracked by git

managed_components/
sdkconfig
sdkconfig.old


# Python
__pycache__/
*.pyc
.pytest_cache/
venv/
.env

# System/IDE
.DS_Store
.vscode/
.idea/
*.swp
*.bak

scripts/
